<ion-header [translucent]="true">
  <ion-toolbar>
    <a href="home" slot="start" class="navreg">TellevoApp</a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="cont">
    <ion-card-header class="titulo">
      <ion-card-title>Credenciales</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="cuerpocard">
      <form (ngSubmit)="enviarInformacion()">
        <ion-list class="lista">
          <ion-item class="input">
            <ion-input class="input" [(ngModel)]="cred.mail" name="email" label="Email" labelPlacement="floating"
              placeholder="Ingrese su Email"></ion-input>
          </ion-item><br>
          <ion-item class="input">
            <ion-input class="input" [(ngModel)]="cred.password" name="password" label="Contraseña" type="password"
              labelPlacement="floating" placeholder="Ingrese su Contraseña"></ion-input>
          </ion-item><br>
          <ion-item class="input">
            <ion-toggle class="input" aria-label="Success toggle" color="success" [checked]="true"> Recuérdame</ion-toggle>
          </ion-item><br>
          <ion-buttons>
            <ion-button class="irarestablecer" color="dark" (click)="irarestablecer()">Olvidé mi contraseña</ion-button>
          </ion-buttons><br>
          <ion-buttons>
            <ion-button class="conectbtns" size="default" shape="round" type="submit" color="dark">Conectar</ion-button>
          </ion-buttons>
          <div>
            <h1>{{mensaje}}</h1><br>
          </div>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
